@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '_variables.scss';

$white: #ffffff;

body {
    background-color:#282828;
    color:$white;
    font-family:$font-Nunito;
    margin:0;
}

h1 {
    color:$white;
}

ul {
    list-style-type:none;
}

a {
    color:white;
    text-decoration:none;
}

button {
    text-decoration:none;
    border:0;
    background-color:transparent;
    color:white;
    font-size:16px;
    cursor:pointer;
    font-family:$font-Nunito;
}

button:focus {
    outline:0;
}

input {
    background-color: black;
    border:1px solid #ffffff;
    padding:10px;
    color:white;
}
input:focus {
    outline:0;
}

.alert.red {
    color:red;
}

.container {
    margin-left:auto;
    margin-right:auto;
}

.niceButton {
    border:1px solid white;
    padding:0.5rem;
    border-radius:1rem;
    transition:0.5s all ease-in-out;
}
.niceButton:hover {
    background-color: #ffffff;
    color:#000000;
    transition:0.5s all ease-in-out;
}

// header

#pageHeader {
    position:relative;
}

.logoWrap {
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:100;
    overflow:hidden;
    background-color:#282828;
}

.logoWrap img {
    max-width:150px;
}



.categoriesWrap {
    display:flex;
    justify-content:center;
    z-index:100;
    overflow:hidden;
    background-color:#282828;
}
.categoriesItems {
    width:100%;
    display:flex;
    height:0;
    justify-content:center;
    transition:0.5s all;
    padding:0;
    opacity:0;
    .categories {
        display:none;
        margin:0;
        padding:0;
        li {
            height:54px;
            padding:0 6px;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        li.active {
            border-bottom:1px solid white;
        }
    }
}
.categoriesItems.active {
    height:54px;
    opacity:1;
    transition:0.5s all;
    .categories {
        display:flex;
    }
}

.categoryName {
    padding:1rem;
    text-align:center;
}

// basket - koszyk

.basketWrap {
    display:flex;
    padding:0;
    li {
        padding:0 6px;
    }
}
.cartWrapper {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding:2rem;
}

.orderButton {
    padding:0.5rem;
    border:1px solid #ffffff;
    border-radius:1rem;
    transition:0.5s all;
}
.orderButton:hover {
    background-color:white;
    color:#000000;
    transition:0.5s all;
}


// login page


.loginWrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100%;
    form {
        display:flex;
        flex-direction:column;
    }
}

// main content

.mainContent {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
}

.pageWrap {
    .container {
        min-height:calc(100vh - 204px);
        background-color:#000000;
        border:0;
    }
}

.videosWrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    .wrapperCenter {
        display:flex;
        flex-wrap:wrap;
    }
    .videosItem {
        position:relative;
        width: calc(100% / 4);
        min-width: 278px;
        height:165px;
        cursor:pointer;
        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .itemTitle {
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            display:flex;
            align-items:flex-end;
            opacity:0;
            transition:0.5s all;
            background: linear-gradient(transparent, grey);
            p {
                padding:0 10px;
            }
        }
        .itemTitle:hover {
            opacity:1;
            transition:0.5s all;
        }
    } 
}

// single Video

.videoWrapper {
    display:flex;
    padding:2rem;
    .imagesSide {
        width:50%;
        img {
            width:100%;
        }
    }
    .descSide {
        width:50%;
    }
    .descWrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        a {
            border:1px solid white;
            padding:0.5rem;
            border-radius: 1rem;
            transition:0.5s all ease-in-out;
        }
        a:hover {
            background-color: #ffffff;
            color:#000000;
            transition:0.5s all ease-in-out;
        }
    }
}

.descWrapper p {
    text-align:center;
}

// cart

#cartContent {
    width:100%;
    padding:0 1rem;
    img {
        max-width:300px;
    }
}
.myCart {
    text-align:center;
    padding-top:1rem;
}

.emptyBasket {
    text-align:center;
}

// Footer

.footerWrapper {
    padding:2rem;
    text-align:center;
    background-color:#ffffff;
    color:#000000;
}

//Register

.registerWrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    form {
        display:flex;
        flex-direction:column;
    }
}

//User Panel

.panelWrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.orderTable {
    width:100%;
    table {
        width:100%;
    }
    td {
        text-align:center;
    }
}
.adminTools {
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:1rem 0;
}

// add & remove video

.addVideoWrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    form {
        display:flex;
        flex-direction:column;
        input {
            margin:1rem;
        }
    }
}
.removeVideoWrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

// media

@media #{$phone-Only} {
    .container {
        width:100%;
    }
    .videoWrapper {
        flex-direction:column;
        .imagesside {
            width:100%;
        }
        .descSide {
            width:100%;
        }
    }

}

@media #{$tablet-Portrait-up} {
    .container {
        width:100%;
    }

}

@media #{$tablet-landscape-up} {
    .container {
        width:100%;
    }
}

@media #{$desktop-Up} {
    .container {
        width:1200px;
    }
}

@media #{$big-desktop-Up} {
    .container {
        width:1200px;
    }
}