
$font-Nunito: "Nunito", sans-serif;
$white: #ffffff;

// media resolution

$phone-Only: '(max-width: 599px)';
$tablet-Portrait-up: '(min-width:600px)';
$tablet-landscape-up: '(min-width:900px)';
$desktop-Up: '(min-width:1200px) and (max-width:1799px)';
$big-desktop-Up: '(min-width:1800px)';